$theme_url:    "/content/themes/batiste/";

//files
$files_2016:    "/content/uploads/2016/";
$files_2016_08: "/content/uploads/2016/08/";

//colors
$color-white:    #ffffff;
$color-dark:     #7d7d7d;
$color-xx-dark:  #999999;
$color-black:    #212121;
$color-x-black:  #352a2d;
$color-gray:     #dddddd;
$color-l-gray:   #f1f1f1;
$color-x-gray:   #f5f5f5;
$color-xx-gray:  #eeeeee;
$color-xxx-gray: #f9f9f9;
$color-pink:     #edd5dc;
$color-purple:   #ec407a;
$color-blue:     #007ea7;
$color-sky:      #42a5f5;
$color-x-blue:   #bcd3e8;
$color-xx-blue:  #545e6d;
