@import "mixins";
@import "variables";
@import "fonts";
@import "materialize";
@import "nouislider";

html,body {
  max-width: 3000px;
  margin: 0;
  padding: 0;
  color: $color-black;
  font-size: 13px;
  font-family: Arial, sans-serif;
}

body img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; user-select: none;
}

.app-rel {
  position: relative;
}

.app-abs {
  position: absolute;
}

.app-fix {
  position: fixed;
}

.app-box {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.app-left {
  float: left;
}

.app-right {
  float: right;
}

.app-full {
  width: 100%;
  max-width: 3000px;
  margin: 0 auto;
}

.app-fill {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.app-full-h {
  height: 100%;
}

.app-fill-w {
  width: 100%;
}

.app-tsn03 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.app-tsn05 {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.app-tsn1 {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.app-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.app-middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.app-middle-center {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.app-vector-title {
  width: 100%;
  float: left;
  overflow: hidden;
  line-height: 25px;
  padding: 0 10px;
  margin: 10px 0;
  font-size: 16px;
  color: $color-dark;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.app-vector-title span {
  display: inline-block;
  position: relative;
  padding: 0 15px;
}

.app-vector-title span:before,
.app-vector-title span:after {
  content: '';
  width: 1400px;
  height: 2px;
  float: left;
  position: absolute;
  background: $color-pink;
  top: 50%;
  margin-top: -1px;
  z-index: 1;
}

.app-vector-title span:after {
  left: 100%;
}


.app-vector-title span:before {
  right: 100%;
}

.app-section {
  width: 100%;
  float: left;
  padding: 10px 0;
  margin: 10px 0;
}

.app-content {
  width: 100%;
  height: auto;
  min-height: 300px;
  float: left;
  padding: 0 10px;
  margin: 5px 0;
}

.app-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.app-circle5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.app-circle10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.app-circle20 {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}


/*shadow on png image (transparent)*/
.app-png-shadow {
  filter: drop-shadow(1px 1px 1px #222);
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  -moz-filter: drop-shadow(1px 1px 1px #222);
  -o-filter: drop-shadow(1px 1px 1px #222);
  -ms-filter: drop-shadow(1px 1px 1px #222);
}

.app-png-shadow-r {
  filter: drop-shadow(-1px 1px 1px #222);
  -webkit-filter: drop-shadow(-1px 1px 1px #222);
  -moz-filter: drop-shadow(-1px 1px 1px #222);
  -o-filter: drop-shadow(-1px 1px 1px #222);
  -ms-filter: drop-shadow(-1px 1px 1px #222);
}

.app-png-shadow3 {
  filter: drop-shadow(3px 3px 3px #222);
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  -moz-filter: drop-shadow(3px 3px 3px #222);
  -o-filter: drop-shadow(3px 3px 3px #222);
  -ms-filter: drop-shadow(3px 3px 3px #222);
}

.app-png-shadow5 {
  filter: drop-shadow(5px 5px 5px #222);
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  -moz-filter: drop-shadow(5px 5px 5px #222);
  -o-filter: drop-shadow(5px 5px 5px #222);
  -ms-filter: drop-shadow(5px 5px 5px #222);
}

/*box drop shadow*/
.app-box-b-shadow {
  -webkit-box-shadow: 0 1px 3px 0 rgba(85, 85, 85, 1);
  -moz-box-shadow: 0 1px 3px 0 rgba(85, 85, 85, 1);
  box-shadow: 0 1px 3px 0 rgba(85, 85, 85, 1);
}

/*shadow round the box*/
.app-box-r-shadow {
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.75);
}

.app-box-r-shadow10 {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.app-box-r-shadow5 {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

.app-box-inset-shadow {
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.75);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.75);
}

.app-box-inset-shadow5 {
  -webkit-box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.75);
  box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.75);
}

.app-box-inset-shadow10 {
  -webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.75);
  box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.75);
}@import '../../modules/account/index';
@import '../../modules/addresses/index';
@import '../../modules/cart/index';
@import '../../modules/comments/index';
@import '../../modules/contact/index';
@import '../../modules/filter/index';
@import '../../modules/flow/index';
@import '../../modules/follow/index';
@import '../../modules/footer/index';
@import '../../modules/header/index';
@import '../../modules/item/index';
@import '../../modules/likes/index';
@import '../../modules/login/index';
@import '../../modules/logo/index';
@import '../../modules/menu/index';
@import '../../modules/messages/index';
@import '../../modules/napper/index';
@import '../../modules/navigation/index';
@import '../../modules/news/index';
@import '../../modules/orders/index';
@import '../../modules/page/index';
@import '../../modules/payment/index';
@import '../../modules/phone/index';
@import '../../modules/popular/index';
@import '../../modules/products/index';
@import '../../modules/recommend/index';
@import '../../modules/search/index';
@import '../../modules/selection/index';
@import '../../modules/sideBar/index';
@import '../../modules/single/index';
@import '../../modules/siteMap/index';
@import '../../modules/slider/index';
@import '../../modules/social/index';
@import '../../modules/sort/index';
@import '../../modules/subscribe/index';
@import '../../modules/user/index';
@import '../../modules/whishes/index';
