.napper-module {
  width: 100%;
  height: auto;
  float: left;

  .app-napper {
    width: 100%;
    height: auto;
    float: left;
  }

  .app-napper-section:first-child {
    height: 80px !important;
  }

  .app-napper-section {
    width: 25%;
    float: left;
    height: 80px;
    padding: 10px;
    margin: 5px 0;
    @media #{$medium-and-down} {
      width: 100%;
      height: 50px;
    }

    .app-logo {
      width: 100%;
      height: 100%;
      float: left;
    }

    .app-phone {
      width: 220px;
      left: 50%;
      margin-left: -110px;
    }

    .app-phone,
    .search-module,
    .selection-module-button
    {
      top: 50%;
      margin-top: -20px;
    }
  }
}