.footer-module {
  width: 100%;
  float: left;
  margin-top: 10px;
  background: $color-x-gray;
  -webkit-box-shadow: inset 0 1px 4px $color-xx-gray;
  -moz-box-shadow: inset 0 1px 4px $color-xx-gray;
  box-shadow: inset 0 1px 4px $color-xx-gray;

  .footer-links {
    width: 100%;
    float: left;
  }

  .navigation-list {
    width: 100%;
    float: left;
    padding: 10px 0;
  }

  .navigation-block {
    width: 25%;
    float: left;
    padding: 5px 30px;
    margin: 5px 0;
    border-left: 1px solid $color-gray;
    @media #{$small-and-down} {
      width: 100% !important;
      text-align: center;
    }
    @media #{$medium-and-down} {
      width: 50%;
      border-right: none;
    }
  }

  .navigation-block:first-child {
    border-left: none;
    .navigation-parent {
      border-top: none !important;
    }
  }

  .navigation-parent {
    width: 100%;
    float: left;
    padding-top: 10px;
    font-size: 14px;
    line-height: 25px;
    margin: 0 0 5px 0;
    color: $color-black;
    text-transform: uppercase;
    @media #{$small-and-down} {
      border-top: 1px dashed $color-gray;
    }
  }

  .navigation-childes {
    width: 100%;
    float: left;
  }

  .navigation-child {
    width: 100%;
    float: left;
  }

  .navigation-child a:hover {
    color: $color-purple;
  }

  .navigation-child a {
    width: 100%;
    float: left;
    padding: 2px 0;
    line-height: 20px;
    font-size: 13px;
    color: $color-black;
    text-decoration: underline;
  }

  .contact-item {
    width: 100%;
    float: left;
    padding: 0 5px;
    margin-bottom: 5px;

    .contact-title {
      width: 100%;
      float: left;
      font-size: 13px;
      font-weight: bold;
      color: $color-black;
      line-height: 25px;
      margin-bottom: 5px;
      text-decoration: underline;
    }

    .contact-info {
      width: 100%;
      float: left;
      font-size: 13px;
      color: $color-dark;
      line-height: 20px;
    }

    .contact-info .contact-email {
      width: 100%;
      float: left;
      font-weight: bold;
      color: $color-blue;
      text-decoration: none;
    }

    .contact-info .contact-email:hover {
      text-decoration: underline;
    }

    .contact-info .contact-phone {
      width: 100%;
      float: left;
      font-size: 15px;
      font-weight: bold;
    }
  }

  .footer-bottom {
    width: 100%;
    float: left;
    background: $color-white;
  }

  .footer-section {
    width: 100%;
    float: left;
    margin-top: 10px;

    &:last-child {
      background-color: $color-black;
    }

    .footer-section-block {
      width: 50%;
      height: 60px;
      float: left;
      text-align: center;
      line-height: 50px;
      @media #{$medium-and-down} {
        width: 100%;
      }
    }

    .footer-section-title {
      width: auto;
      height: 100%;
      padding: 0 5px;
      float: left;
      line-height: 60px;
      color: $color-white;
      font-size: 13px;
    }
  }
}