.module-single {
  width: 100%;
  float: left;

  .single-item-block {
    width: 80%;
    float: left;
    margin: 0 10%;

    @media #{$small-and-down} {
      width: 100%;
      margin: 0;
    }

    .single-item-title {
      width: 100%;
      float: left;

      .app-vector-title {
        text-align: left;
        color: $color-black;
      }
    }

    .single-item-gallery {
      width: 40%;
      height: auto;
      float: left;
      margin: 5px 0;
      padding: 5px 40px;

      @media #{$small-and-down} {
        float: right;
        width: 100%;
      }

      .slider {
        height: 100% !important;
      }

      #single-item-slider {
        width: 100%;
        height: 350px !important;
        max-height: 400px !important;
      }

      .slides {
        background-color: transparent;
      }

      .slider-item {
        width: 100%;
        height: 100%;
        float: left;
        background-color: transparent;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      .indicators {
        display: none;
      }

      .slide-button {
        color: rgba(0, 0, 0, 0.6);
      }

      .item-slide-prev {
        float: left;
        left: -60px;
      }

      .item-slide-next {
        float: right;
        right: -60px;
      }
    }

    .single-item-header {
      width: 100%;
      height: auto;
      float: left;
      margin: 5px 0;
      padding: 10px;
      border-top: 1px dashed $color-x-gray;
      border-bottom: 1px dashed $color-x-gray;

      .single-header-child {
        width: auto;
        height: 60px;
        min-width: 150px;
        float: left;
        padding: 0 10px;

        @media #{$small-and-down} {
          width: 100%;
        }
      }

      .single-header-tool {
        width: 100%;
        height: 100%;
        float: left;
        line-height: 60px;
        text-align: center;
        cursor: pointer;
      }

      .item-brand-icon {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      .item-selection-type {
        font-size: 13px;
        font-weight: bold;
        color: $color-dark;

        &:hover {
          color: $color-purple;
        }
      }

      .item-to-bookmark {
        font-size: 13px;
        color: $color-black;

        .icon {
          font-size: 25px;
          float: left;
        }

        .value {
          font-weight: bold;
          margin: 0 5px;
        }

        &:hover {
          color: $color-purple;
        }
      }
    }

    .single-item-info {
      width: 100%;
      height: auto;
      float: left;
      margin: 5px 0;
      padding: 10px;

      @media #{$small-and-down} {
        float: left;
        width: 100%;
      }

      .info-item {
        width: 100%;
        float: left;
        padding: 0 10px;
        border-bottom: 1px solid $color-xxx-gray;

        &:last-child {
          border-bottom: none;
        }
      }

      .info-label {
        width: 40%;
        float: left;
        font-size: 13px;
        color: $color-xx-dark;
        padding: 10px 0;
      }

      .info-value {
        width: 60%;
        float: left;
        font-size: 13px;
        font-weight: bold;
        color: $color-black;

        >a {
          color: $color-purple;
          text-decoration: underline;
        }
      }

      .info-value-item {
        width: 100%;
        float: left;
        padding: 10px 0;
        color: $color-black;
      }
    }

    .single-item-prices {
      width: 60%;
      min-height: 350px;
      max-height: 400px;
      overflow-y: auto;
      float: left;
      margin: 5px 0;
      padding: 5px;

      @media #{$small-and-down} {
        float: left;
        width: 100%;
      }

      .price-block {
        width: 100%;
        float: left;
        padding: 5px;
        border-bottom: 1px solid $color-x-gray;

        &:last-child {
          border-bottom: none;
        }

        .price-item {
          width: auto;
          height: 60px;
          float: left;
          padding: 0 10px;
          margin: 5px 0;
          line-height: 60px;
        }

        .price-item-half {
          width: 50%;
          float: left;

          @media #{$small-and-down} {
            width: auto;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);

            &:first-child {
              border-bottom: 1px solid $color-x-gray;
            }
          }
        }

        .price-image {
          width: 60px;
          height: 60px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }

        .price-name {
          font-size: 15px;
          color: $color-black;
        }

        .price-value {
          font-size: 13px;
          color: $color-black;

          .value {
            font-weight: bold;
            color: $color-purple;
          }

          .key {
            margin: 0 5px;
          }
        }

        .cart-button .btn {
          height: 35px;
          float: left;
          background: $color-blue;
        }
      }
    }

    .separator {
      width: 80%;
      height: 1px;
      float: left;
      margin: 5px 10%;
      background: $color-x-gray;
    }

    .single-item-characters {
      width: 100%;
      float: left;
      margin: 5px 0;
      padding: 5px;

      .item-tabs {
        width: 100%;
        float: left;
        padding: 5px;
      }

      .tabs {
        width: auto !important;
        float: left;
        min-width: 300px;

        .tab {
          width: auto;
          min-width: 150px;

          >a {
            font-size: 13px;
            font-weight: bold;
            color: $color-black;
            border-bottom: 3px solid $color-x-gray;
          }
        }

        .indicator {
          height: 3px;
          background: $color-black;
        }
      }

      .tab-content {
        width: 100%;
        float: left;
        padding: 10px 10px 40px 10px;

        @media #{$small-and-down} {
          width: 100%;
          margin: 0;
        }

        .tab-info {
          width: 100%;
          float: left;
        }
      }

      .character-item {
        width: 100%;
        float: left;
        margin: 5px 0;

        .character-title {
          width: 100%;
          float: left;
          padding: 10px;
          font-size: 13px;
          color: $color-black;
          font-weight: bold;
          background: $color-xx-gray;
        }

        .character-content {
          width: 100%;
          float: left;
          padding: 10px;
          margin-bottom: 0;
        }

        .character-child {
          float: left;
          padding: 10px 0;
          font-size: 13px;
        }
      }
    }
  }
}