.module-page {
  width: 100%;
  float: left;
  padding: 10px;
  @media #{$medium-and-down} {
    padding: 0;
  }

  .mobile-page-menu {
    width: 100%;
    height: 45px;
    float: left;
    padding: 0 10px;
    display: none;
    margin-bottom: 10px;
    background: $color-black;
    @media #{$medium-and-down} {
      display: block;
    }

    .drop-button {
      width: auto;
      height: 100%;
      min-width: 220px;
      float: left;
      padding: 0 10px;
      color: $color-white;

      .drop-name {
        height: 100%;
        float: left;
        line-height: 45px;
        padding: 0 5px;
        font-size: 1rem;
      }

      .drop-icon {
        float: left;
        height: 100%;
        line-height: 45px;
        padding: 0 5px;
        font-size: 18px;
      }
    }

    .dropdown-content {
      padding: 0 15px;

      li {
        min-height: 0;
      }
    }

    .drop-page-item {
      width: 100%;
      height: 45px;
      float: left;
      line-height: 45px;
      font-size: 13px;
      padding: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: $color-black;
      border-bottom: 1px solid $color-x-gray;
    }

    .drop-page-item:hover
    .drop-page-item.active {
      color: $color-purple;
    }
  }

  .page-wrapper {
    width: 100%;
    height: auto;
    float: left;

    .page-menu {
      width: 220px;
      float: left;
      left: 0;
      top: 0;
      z-index: 1;
      padding: 5px;
      border: 3px solid $color-xx-gray;
      @media #{$medium-and-down} {
        display: none;
      }

      .page-menu-item {
        width: 100%;
        float: left;
        padding: 10px;
        font-size: 1rem;
        color: $color-dark;
      }

      .page-menu-item.active {
        color: $color-purple;
      }
    }

    .page-content {
      width: 100%;
      height: auto;
      min-height: 500px;
      float: left;
      padding-left: 220px;
      @media #{$medium-and-down} {
        padding-left: 0;
      }

      .page-content-inner {
        width: 100%;
        float: left;

        .page-title {
          width: 100%;
          float: left;
          padding: 5px;
        }

        .page-content-text {
          width: 100%;
          float: left;
          padding: 10px;
        }

        .app-vector-title {
          margin: 0;
        }
      }
    }
  }
}