.module-products {
  width: 100%;
  float: left;
  background: $color-white;

  .products-block-app {
    width: 100%;
    float: left;
    padding: 5px;

    .products-filter-app {
      width: 250px;
      float: left;
      padding: 5px;
      z-index: 1;
    }

    .products-container {
      width: 100%;
      float: left;
      margin-left: -250px;
      padding-left: 250px;
    }

    .products-wrapper {
      width: 100%;
      float: left;
      padding: 5px;
      min-height: 500px;
    }
  }

  #products-filter-nav {
    right: 0;
    float: right;
    display: block !important;
  }

  .products-block-mobile {
    width: 100%;
    float: left;
    padding: 5px 0;

    .search-tools {
      width: 100%;
      height: auto;
      float: left;
      border-bottom:1px solid $color-l-gray;

      .search-tool-item {
        width: auto;
        height: 40px;
        float: left;
        padding: 0 20px;
        border-right:1px solid $color-l-gray;
        font-size: 13px;
        font-weight: bold;
        line-height: 40px;
        color: $color-black;


        &:hover {
          color: $color-purple;
        }

        .search-tool-name {
          margin: 0 5px;
          float: left;
        }

        .search-tool-icon {
          font-size: 15px;
          margin: 0 5px;
          float: left;
        }
      }


      .search-tool-item:last-child {
        border-right: none;
      }
    }

    .products-container {
      width: 100%;
      float: left;
    }

    .products-wrapper {
      width: 100%;
      float: left;
      padding: 5px;
      min-height: 500px;
    }
  }

  .products-filter-mobile {
    width: 100%;
    float: left;
    padding: 5px;
  }
}