@-moz-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1.0;
  }
}

.sol-container {
  width: 100%;
  float: left;

  .sol-inner-container {
    width: 100%;
    height: 40px;
    float: left;
    line-height: 30px;
  }

  .sol-input-container {
    width: 100%;
    height: 100%;
    float: left;

    input[type="text"] {
      background: transparent;
      box-shadow: none;
      color: $color-black;
      outline: none;
      width: 100%;
      height: 100%;
      padding-left: 10px;
      padding-right: 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 3px solid $color-l-gray;
    }

    input[type="text"]:-ms-input-placeholder {
      color: $color-l-gray;
    }

    input[type="text"]::-ms-clear {
      display: none;
    }
  }

  .sol-caret-container {
    display: inline-block;
    width: 30px;
    height: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    background: $color-l-gray;
    color: $color-black;
    float: right;
    right: 0;
    top: 0;
    bottom: 0;

    &:hover {
      color: $color-purple;
    }
  }

  .sol-selection-container {
    display: none;
    width: 100%;
    float: left;
    background: $color-white;
    margin: 3px 0;
  }

  &.sol-active {
    .sol-selection-container {
      display: block;
    }
  }

  .sol-current-selection {
    width: 100%;
    float: left;
  }


  .sol-selection {
    width: 100%;
    height: auto;
    max-height: 180px;
    float: left;
    padding: 10px;
    overflow-y: auto;
    border: 3px solid $color-l-gray;
  }

  .sol-no-results,
  .sol-loading-data {
    width: 100%;
    float: left;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    color: $color-gray;
  }

  .sol-loading-data {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .sol-selection:empty {
    display: none;
  }

  .sol-option {
    width: 100%;
    float: left;
    max-height: 35px;
    padding: 5px 10px;
    display: block;
    margin-bottom: 5px;
    border-bottom: 1px solid $color-xxx-gray;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:last-child {
      border-bottom: none;
    }
  }

  .sol-label {
    display: block;
    position: relative;
    width: 100%;
    height: 25px;
    float: left;
    line-height: 25px;
  }

  .sol-label-text {
    width: 100%;
    float: left;
    padding-left: 30px;
    line-height: 25px;
    font-size: 13px;
    color: $color-black;
  }

  .sol-selection:not(.sol-keyboard-navigation) .sol-option:hover,
  .sol-option.keyboard-selection {
    background: $color-x-gray;
    border-bottom: none;
  }

  .sol-optiongroup {
    width: 100%;
    float: left;
    background: $color-x-gray;
  }

  .sol-optiongroup-label {
    width: 100%;
    float: left;
    color: $color-black;
    background: #eee;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 3px 5px;
  }

  .sol-optiongroup.disabled {
    color: $color-gray;
  }

  .sol-filtered-search {
    display: none;
  }
}

.sol-selected-display-item,
.sol-results-count {
  display: inline-table;
  background: $color-x-gray;
  font-size: 12px;
  padding: 0 5px;
  color: $color-black;
  margin-right: 2px;
  margin-bottom: 2px;
  border-collapse: separate;
}

.sol-selected-display-item-text {
  padding: 0 7px;
  display: table-cell;
  vertical-align: middle;
}

.sol-quick-delete {
  font-size: 20px;
  color: $color-sky;
  text-align: center;
  padding: 0 2px;
  display: table-cell;
  vertical-align: middle;
}

.sol-quick-delete:hover {
  color: #111;
  cursor: pointer;
}

.module-filter {
  width: 100%;
  float: left;
  min-height: 200px;

  .filters-container {
    width: 100%;
    float: left;
    padding: 5px;
  }

  .filter-block {
    width: 100%;
    float: left;
    margin-bottom: 5px;
  }

  .filter-selected-items {
    width: 100%;
    float: left;
  }

  .filter-title {
    font-size: 12px;
    text-align: left;
    color: $color-black;
  }

  .price-input-block {
    width: auto;
    float: left;
    margin: 5px;

    .price-input {
      width: 80px;
      height: 34px;
      float: left;
      padding-left: 10px;
      margin: 0;
      border: 2px solid $color-l-gray;
    }

    .price-filter-title {
      width: 50px;
      height: 34px;
      float: left;
      padding: 0 5px;
      line-height: 34px;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      color: $color-black;
    }

    .price-label-key {
      width: 70px;
      height: 34px;
      float: left;
      padding: 0 10px;
      line-height: 34px;
      font-size: 12px;
      font-weight: bold;
      color: $color-purple;
    }
  }
}