.social-module {
  width: auto;
  height: auto;
  float: left;

  .social-title {
    width: auto;
    height: 40px;
    float: left;
    padding: 0 5px;
    line-height: 40px;
    font-size: 13px;
    @media #{$small-and-down} {
      display: none;
    }
  }

  .icons-block {
    width: auto;
    height: 40px;
    float: left;
    padding: 3px;
  }

  .social-icon {
    width: 34px;
    height: 34px;
    float: left;
    margin: 0 2px;
    line-height: 34px;
    text-align: center;
    color: $color-white;
  }

  .social-v {
    background: #476F95;
  }

  .social-o {
    background: #FE7300;
  }

  .social-i {
    background: #624e44;
  }

  .social-f {
    background: #385AA1;
  }
}