body {
  padding-top: 50px;
}

.header-module {
  width: 100%;
  float: left;
  top: 0;
  background: $color-black;
  z-index: 99999;

  .header-tools {
    width: 100%;
    height: 50px;
    float: left;
  }

  .header-tool-item {
    width: auto;
    height: 100%;
    float: left;
    padding: 0 10px;
    line-height: 50px;
    color: $color-white;
    cursor: pointer;
    @media #{$small-and-down} {
      border: none !important;
    }
  }

  .side-toggle {
    display: block;
  }

  .header-tool-item:hover {
    background: $color-white;
    color: $color-purple;
  }

  .app-right {
    .header-tool-item {
      border-left: 1px solid $color-x-black;
    }
  }

  .app-left {
    .header-tool-item {
      border-right: 1px solid $color-x-black;
    }
  }

  .header-tool-name {
    font-size: 13px;
    padding: 0 5px;
    @media #{$small-and-down} {
      display: none;
    }
  }

  .header-tool-icon {
    height: 100%;
    float: left;
    font-size: 18px;
    padding: 0 5px;
  }

  .header-tool-count {
    font-size: 13px;
    font-weight: bold;
    padding: 5px 7px;
    margin: 0 5px;
    background: $color-purple;
    color: $color-white;
  }
}