.module-recommend {
  width: 100%;
  height: auto;
  float: left;

  .recommend-item {
    width: 25%;
    float: left;
    padding: 10px;

    @media #{$medium-and-down} {
      width: 50%;
    }

    @media #{$small-and-down} {
      width: 100%;
    }
  }
}