.module-item {
  width: 100%;
  height: 100%;
  float: left;
  padding: 5px 20px;
  border: 1px solid $color-x-gray;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  .item-image {
    width: 100%;
    float: left;
    height: auto;
    padding: 20px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid $color-x-gray;

    .product-image {
      width: 100%;
      height: 200px;
      float: left;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .item-name {
    width: 100%;
    float: left;

    >a {
      width: 100%;
      float: left;
      padding: 10px 5px;
      font-size: 14px;
      text-align: center;
      color: $color-black;
      text-transform: uppercase;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    >a:hover {
      color: $color-purple;
    }
  }

  .item-price {
    width: 100%;
    float: left;
    padding: 10px 0;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: $color-purple;
    text-transform: uppercase;

    .price-value {
      margin-right: 5px;
    }

    .price-key {
      color: $color-black;
    }
  }

  .item-tools {
    width: 100%;
    float: left;
    padding: 10px 0;
    margin-top: 10px;
    border-top: 1px solid $color-x-gray;

    .item-tools-block {
      width: auto;
      float: left;
    }

    .item-tool {
      width: 40px;
      height: 40px;
      float: left;
      line-height: 40px;
      text-align: center;
      font-size: 20px;
      background: $color-black;
      color: $color-white;
      margin: 0 5px;
    }
  }
}

.module-item:hover {
  -webkit-box-shadow: 0 2px 10px 0 #666666;
  -moz-box-shadow: 0 2px 10px 0 #666666;
  box-shadow: 0 2px 10px 0 #666666;
}