.menu-module {
  width: 100%;
  float: left;
  background: $color-black;
  @media #{$small-and-down} {
    display: none !important;
  }

  .app-menu {
    width: 100%;
    float: left;
    z-index: 10;
  }

  #app-menu {
    .menu {
      margin: 0;
      padding: 0;
      width: 100%;
      float: left;

      >.menu-item {
        width: auto;
        height: auto;
        float: left;

        .current-menu-item {
          >a {
            color: $color-blue !important;
          }
        }

        >a {
          width: auto;
          height: 50px;
          float: left;
          position: relative;
          padding: 0 15px;
          border-right: 1px solid $color-x-black;
          line-height: 50px;
          font-size: 13px;
          color: $color-white;
        }

        >.sub-menu {
          display: none;
          width: 100%;
          max-width: 100%;
          float: left;
          left: 0;
          top: 50px;
          position: absolute;
          background: $color-white;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 20px;
          -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
          -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
          box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);

          >.menu-item {
            width: auto;
            float: left;

            >a {
              width: auto;
              height: 40px;
              line-height: 40px;
              font-size: 13px;
              font-weight: bold;
              color: $color-black;
              padding: 0 20px;
              border-bottom: none;
            }

            >a:hover {
              color: $color-purple;
            }
          }

          >.menu-item-has-children {
            width: 200px;
            min-width: 200px;
            max-width: 220px;
            float: left;
            position: relative;
            margin: 5px 10px 5px 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            a {
              width: 100%;
              height: 25px;
              float: left;
              line-height: 25px;
              text-align: left;
              padding: 0 10px;
              font-size: 13px;
              color: $color-black;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
            }

            a:hover {
              color: $color-purple;
            }

            >a {
              height: 40px;
              line-height: 40px;
              font-weight: bold;
              border-bottom: 1px solid $color-x-gray;
            }

            >.sub-menu {
              width: 100%;
              float: left;
              margin-top: 5px;
            }
          }
        }
      }

      >.menu-item:last-child {
        >a {
          border-right: none;
        }
      }

      >.menu-item:hover {
        >a {
          background: $color-white;
          color: $color-purple;
        }

        >.sub-menu {
          display: block;
        }
      }
    }
  }
}

.side-nav {
  z-index: 99999;

  .side-logo {
    width: 100%;
    height: 50px;
    float: left;
    background: $color-black;
    border-bottom: 3px solid $color-purple;
  }

  .side-menu {
    width: 100%;
    float: left;

    #mobile-menu {
      width: 100%;
      float: left;

      .menu {
        margin: 0;
        padding: 0;
        width: 100%;
        float: left;

        .menu-item {
          width: 100%;
          float: left;

          .menu-icon {
            display: none;
            width: 50px;
            height: 40px;
            float: right;
            position: absolute;
            right: 0;
            text-align: center;
            line-height: 40px;
            font-size: 13px;
            font-weight: bold;
            color: $color-black;
            z-index: 1;
          }

          a {
            width: 100%;
            height: 40px;
            float: left;
            position: relative;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            line-height: 40px;
            font-size: 13px;
            color: $color-black;
            text-align: left;
            padding: 0 45px 0 10px;
            border-bottom: 1px solid $color-xxx-gray;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }

          a:hover {
            color: $color-purple;
          }
        }

        .sub-menu {
          display: none;
          width: 100%;
          float: left;
          padding-left: 10px;

          a {
            font-size: 12px !important;
          }
        }

        .sub-menu.selected {
          display: inline;
        }

        .current-menu-item {
          >a {
            color: $color-blue;
          }

          >.menu-icon {
            color: $color-blue !important;
          }
        }

        .menu-item-has-children {
          >a {
            font-weight: bold;
          }

          >.menu-icon {
            display: block;

            i {
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}