.payment-module {
  width: auto;
  height: auto;
  float: left;

  .payment-title {
    width: auto;
    height: 40px;
    float: left;
    padding: 0 5px;
    line-height: 40px;
    font-size: 13px;
    @media #{$small-and-down} {
      display: none;
    }
  }

  .payment-icons {
    width: auto;
    height: auto;
    float: left;
    padding: 3px;
  }
}

.pay-icon {
  background-image: url("#{$files_2016_08}pay-icons.png");
  background-repeat: no-repeat;
  width: 42px;
  height: 35px;
  float: left;
  margin: 0 1px;
  line-height: 35px;
  text-align: center;
  color: $color-white;
  background-color: $color-xx-gray;
}

.pay-visa {
  background-position: -12px -66px;
}

.pay-master {
  background-position: -61px -66px;
}

.pay-web {
  background-position: -312px -17px;
}

.pay-qiv {
  background-position: -214px -116px;
}

.pay-yandex {
  background-position: -311px -65px;
}