.search-module {
  width: 100%;
  height: auto;
  float: left;

  .search-block {
    width: 100%;
    height: 40px;
    float: left;
  }

  .search-icon {
    width: 40px;
    height: 40px;
    font-size: 15px;
    color: $color-dark;
    line-height: 40px;
    text-align: center;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .search-input {
    width: 100%;
    height: 100%;
    float: left;
    border: 2px solid $color-xx-gray !important;
    outline: none !important;
    padding: 0 10px 0 50px;
  }

  .search-results {
    width: 100%;
    height: auto;
    max-height: 100%;
    float: left;
    left: 0;
    top: 45px;
    display: none;
  }
}