.app-phone {
  width: 100%;
  height: 40px;
  float: left;

  .phone-block {
    width: 100%;
    height: 100%;
    float: left;
    padding: 0 5px;
  }

  .phone-icon {
    width: 40px;
    height: 40px;
    float: left;
    line-height: 36px;
    text-align: center;
    font-size: 20px;
    color: $color-white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: $color-blue;
    border: 3px solid $color-x-blue;
    -webkit-animation: phoneCall 3s 2;
    -o-animation: phoneCall 3s 2;
    animation: phoneCall 3s 2;
  }

  @keyframes phoneCall {
    0% {
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
      transform: scale(0.8);
    }

    50% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      background: $color-x-blue;
      border: 3px solid $color-blue;
    }

    100% {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      background: $color-blue;
      border: 3px solid $color-x-blue;
    }
  }


  .phone-number {
    width: auto;
    height: 40px;
    float: left;
    line-height: 40px;
    font-size: 17px;
    padding: 0 10px;
    font-weight: bold;

    .p-code {
      color: $color-xx-gray;
    }
    .p-number {
      color: $color-black;
    }
  }
}