.module-slider {
    width: 100%;
    float: left;
    max-height: 700px;
    padding-bottom: 50%; /* RATIO 2.29:1 */

    @include respond-to(tabletlandscape) {
        padding-bottom: 50%; /* RATIO 2:1 */
    }

    @include respond-to(tabletportrait) {
        padding-bottom: 75%; /* RATIO 2:1 */
    }

    @include respond-to(mobile) {
        padding-bottom: 100%; /* RATIO 1:1 */
    }

    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.module-slider .slider .slides{
    background-color: transparent;
}
.slide-button{
    width: 70px;
    height: 70px;
    position: absolute;
    font-size: 60px;
    border-radius: 50%;
    top: 50%;
    margin-top: -35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 5;
    opacity: 0.6;
    color: #ffffff;
    line-height: 70px;
    text-align: center;
}
.slide-prev{
    float: left;
    left: 30px;
}
.slide-next{
    float: right;
    right: 30px;
}
.slide-button:hover{
    color: #ffffd8;
    cursor: pointer;
}

.module-slider .caption {
    @include respond-to(mobile) {
        left: 0 !important;
        width: 100% !important;
        text-align: center !important;
    }
}

.module-slider .indicators {
    .indicator-item.active {
        background-color: #64B5F6;
    }
}