.module-subscribe {
  width: 100%;
  height: auto;
  float: left;
  background: $color-black;

  .subscribe-block {
    width: auto;
    height: auto;
    float: left;
    padding: 5px 0;
  }

  .subscribe-section {
    width: auto;
    min-width: 200px;
    min-height: 50px;
    padding: 5px;
    float: left;
    @media #{$small-and-down} {
      width: 100%;
    }

    .app-logo {
      height: 40px;
    }

    .subscribe-input {
      width: 200px;
      height: 40px;
      float: left;
      border: none;
      outline: none;
      padding: 0 10px;
      margin: 0;
      background: $color-white;
      @media #{$small-and-down} {
        width: 100%;
      }
    }

    .subscribe-button {
      width: auto;
      float: left;
      height: 40px;
      line-height: 40px;
      font-weight: bold;
      font-size: 13px;
      background: $color-purple;
      border-radius: 0;
      padding: 0 15px;
      margin: 0;
      @media #{$small-and-down} {
        width: 100%;
      }
    }
  }
}