.app-logo {
  width: 100%;
  height: 100%;
  float: left;
  padding: 0 10px;

  > a {
    width: 100%;
    height: 100%;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.logo-black {
  background-image: url("#{$files_2016_08}batiste_black.png");
}

.logo-white {
  background-image: url("#{$files_2016_08}batiste_white.png");
}