.selection-module-button {
  width: 100%;
  height: 40px;
  float: left;

  > a {
    width: auto;
    float: left;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    background: $color-purple;
    @media #{$small-and-down} {
      float: left;
    }
  }
}



.selection-module-content {

}