{if !$view}
    <div class="app-rel app-box selection-module-button">
        <a class="waves-effect app-center waves-light btn">
            Подобрать аромат
        </a>
    </div>
{else}
    <div class="selection-module-content">
    </div>
{/if}